{% extends "vistasDeListados/layout.html" %}
{% block body %}
<div class="container">
    <h2>Lista de las Enfermedades</h2>
    <p>Listado de las Enfermedades en la DB con su descripción. El nombre correponde a la PK</p>
    <div>
    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Usuario</th>
                <th>Animal</th>
                <th>Enfermedad</th>
                <th>Peso</th>
                <th>Dosis</th>
            </tr>
        </thead>
        <tbody>
            {% if data != "error" %}
                {% for item in data %}
                    <tr>
                        <td>{{ item.getID() }}</td>
                        <td>{{ item.getUsuario() }}</td>
                        <td>{{ item.getAnimal() }}</td>
                        <td>{{ item.getEnfermedad() }}</td>
                        <td>{{ item.getPeso() }}</td>
                        <td>{{ item.getDosis() }}</td>
                    </tr>
                {% endfor %}
            {% else %}
                <tr>
                    <td>¡¡ Peligro NO hay datos !!</td>
                </tr>
            {% endif %}
        </tbody>
    </table>
    </div>
    <div style="margin-left: 475px" >
        {% if paginas %}
            <ul class="pagination">
                {% for num in range(1,paginas) %}
                    <li><a href="listarPrescripciones">{{ num }}</a></li>
                {% endfor %}
            </ul>
        {% endif %}
    </div>
</div>
{% endblock %}