{% extends "usuarioAdmin/layoutAdmi.html" %}
{% block body %}
<div class="container" >
    <div style="margin-top:30px;">
        <div class="panel panel-success">
            <div class="panel-heading">
                <div class="panel-title"> Bienvenido: {{usuario.getNombre()}}</div>
                <div style="float:right; font-size: 85%; position: relative; top:-10px"><a href="/">Salir</a></div>
            </div>
            <div style="padding-top:30px" class="panel-body">

            </div>
        </div>
    </div>
</div>
{% endblock %}