<!doctype html>
<title>Estudiantes</title>
<link rel="stylesheet" type="text/css" href="{{url_for('static',filename= 'estilos.css')}}">
<div>
    <h1> Hola {{persona.getNombre()}}</h1>
    <label>Nombre de Estudiantes: </label>
    <ul>
        {% for item in comida %}
            <li> {{ item }} </li>
        {% endfor %}
    </ul>

    <form action="{{ url_for('compras') }}" method="POST">
        <input type="text" name="name">
        {{nombreE}}
        <button type="submit">Hola Esteban</button>
    </form>


    <button action="." type="submit">Regresar</button>
</div>