{% extends "layout.html" %}
{% block body %}
<div class="container">
    <h1>Veterinaria NOOP</h1>
    <h2>(it will be converted to uppercase)</h2>
    <form action="." method="POST">
        <input type="text" name="text">
        <input type="submit" name="my-form" value="Send">
    </form>


    <form action="." method="POST">
        <input type="text" name="texto2">
        <label id="inprimir">tiene que cambiar</label>
        <input type="submit" name="my-form" value="Prueba">
    </form>

    <h1>jQuery Example</h1>
    <p>
        <input type="text" size="5" name="a"> +
        <input type="text" size="5" name="b"> =

        <span id="result">?</span>
    </p>
        <a href=# id="calculate">calculate server side</a>
</div>
{% endblock %}